<h1> Trips: </h1>


<% @trips.each do |trip|%>
<div>
  <%= link_to trip.name,  "/trips/#{trip.id}"%>
</div>
<% end -%>

<div>
<%= link_to "Start Trip!" ,"/trips/new", class: 'btn btn-default btn-md' %>
</div>


