
<div class="container">
  <fieldset>
    <legend>Enter Trip Information:</legend>

    <div>
    <%= form_tag "/trips", method: :post do %>
  
  <%= label_tag :name, "Trip name:" %>
  <%= text_field_tag :name %>

  <%= submit_tag "Start Trip!", class: "btn btn-info btn-md" %>

    <%end%>
  </fieldset>
</div>
