// Place all the styles related to the HomePages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Main styles */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);


#home-animation {

      background: white;
      font: 9em/1 Open Sans, Impact;
      text-transform: uppercase;

    .text--transparent {
      fill: transparent;
    }

    .anim-shape {
      -webkit-transform-origin: 0x 150px;
      -ms-transform-origin: 0x 150px;
      transform-origin: 0x 150px;
      -webkit-transform: scale(0, 1) translate(0, 0);
      -ms-transform: scale(0, 1) translate(0, 0);
      transform: scale(0, 1) translate(0, 0);
      -webkit-animation: moving-panel 5s infinite forwards;
      animation: moving-panel 5s forwards;
    }

    .colortext .anim-shape:nth-child(1) {
      fill: #011f4b;
    }

    .colortext .anim-shape:nth-child(2) {
      fill: #03396c;
    }

    .colortext .anim-shape:nth-child(3) {
      fill: #005b96;
    }

    .colortext .anim-shape:nth-child(4) {
      fill: #666688;
    }

    .colortext .anim-shape:nth-child(5) {
      fill: #336688;
    }

    .shadow {
      -webkit-transform: translate(10px, 10px);
      -ms-transform: translate(10px, 10px);
      transform: translate(10px, 10px);
    }

    .anim-shape--shadow {
      fill: #000;
      fill-opacity: .2;
    }

    @-webkit-keyframes moving-panel {
      100% {
        -webkit-transform: scale(1, 1) translate(20px, 0);
        transform: scale(1, 1) translate(20px, 0);
      }
    }

    @keyframes moving-panel {
      100% {
        -webkit-transform: scale(1, 1) translate(20px, 0);
        transform: scale(1, 1) translate(20px, 0);
      }
    }

    /* Other stuff */    
    html,body {
      height: 100%;
    }


    svg {
      position: absolute;
      width: 50%;
      height: 50%;
    }
}