
<div class="container">
  <fieldset>
    <legend>Please Category for Itinerary:</legend>

        <%= form_tag "/itinerary/#{params[:itinerary_id]}/categories", method: :post do %>

          <div>
          <%= label_tag :Category%>
          <%= text_field_tag :category,  nil, placeholder: "Category Here", class: 'input-field'%>
          </div>
          <br/>
          <div>
          <%= submit_tag "Save Category", class: "btn btn-info btn-md"%>
          </div>
        <% end -%>
    </fieldset>
  </div>